

/* HOMEPAGE */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


#body {
  text-align: center;
  max-width: 1280px;
  background-image: linear-gradient(#0b1422 50%, #ff3b3b);
  color: #ffffff;
}

#head {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  text-align: center;
  background: #0b1422;
  gap: 75px;
  margin-left: 150px;
}

img {
    width: 200px;
}

h1 {
  font-size: 45px;
  color: #00ffff;
  width: 400px;
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
}
nav {
  max-width: 100%;
  background-color: #0b1422;
  margin: auto;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1.5px solid #ff3b3b;
  border-bottom: 1.5px solid #ff3b3b;
  align-items: center;
}
.navlink {
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 2px 2px 4px #ff3b3b;
  transition: all 0.2s ease-in-out;
  font-family: "Open Sans";
}

.navlink:hover {
  transform: translateY(-2px) scale(1.02);
  text-shadow: 4px 4px 8px #00ffff;
}

#HERO {
  background-image: url(/wdd130-dixon/images/HERO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  max-width: 1000px;
  margin: auto;
  color: #00ffff;
  padding: 25px;
  padding-top: 5px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #00ffff;
}

#hero-h2 {
  font-size: 40px;
  text-shadow: 0 0 10px #0b1422;
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
}

#hero-p {
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0 0 10px #0b1422;
  font-family: "Open Sans";

}

#Hero-button {
  padding: 15px;
  background-color: #0b1422E6;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans";
}

#Hero-button:hover {
  background-color: #0b1422;
  text-shadow: 2px 2px 5px #ff3b3b;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    gap: 20px;
    margin-top: 10px;
    font-family: "Open Sans";

}

.card {
    padding: 5px;
    box-shadow: 2px 2px 5px #0b1422;
    transition: all ease 0.2s;
}

.card:hover {
  box-shadow: 0px 5px 15px #00ffff;
}

#card1 {
    background-image: linear-gradient(#0b142280, #0b142280), url(/wdd130-dixon/images/Picture2.jpg);
    /* background-image: url(/wdd130-dixon/images/Picture2.jpg); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    
}
#card2 {
    background-image: linear-gradient(#0b142280, #0b142280), url(/wdd130-dixon/images/Picture3.jpg);
    /* background-image: url(/wdd130-dixon/images/Picture2.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#card3 {
    background-image: linear-gradient(#0b142280, #0b142280), url(/wdd130-dixon/images/Picture3.jpg);
    /* background-image: url(/wdd130-dixon/images/Picture2.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.threat-button {
    padding: 10px;
    background-color: #ffffffE6;
    border-radius: 25px;
    color: #0b1422;
    text-decoration: none;
    font-family: "Open Sans";
}

.threat-button:hover {
  background-color: #ffffff;
  box-shadow: 5px 5px 15px;
}

#threat-button-container {
    margin-top: 50px;
}

#overview {
    max-width: 1100px;
    margin: auto;
    background-image: linear-gradient(#ff3b3b, #0b1422 75%);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    font-family: "Open Sans";
    box-shadow: 0px 0px 5px #00ffff;
    
}

#overview > h2 {
    color: #00ffff;
    font-family: "Bebas Neue";
    letter-spacing: 1.5px;
}

footer {
    background: #0b1422;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    height: 100px;
}

footer > a {
    text-decoration: none;
    color: #ffffff;
}

#about {
  max-width: 1280px;
  width: 800px;
  margin: auto;
  font-family: "Open Sans";
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #0b142266;
  box-shadow: 2px 2px 5px #0b1422;
  padding: 5px;
}

#about > h2 {
  color: #00ffff;
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
  font-size: 40px;
  margin-bottom: -10px;
}


/* SUBPAGE 1 */








/* SUBPAGE 2 */
#page2-body {
  text-align: center;
  max-width: 1280px;
  min-height: 100vh;
  background-image: linear-gradient(#0b1422 50%, #ff3b3b);
  color: #ffffff;
}

#pm-intro, #phishing-info, #malware-info {
  font-family: "Open Sans";
}

#pm-intro > h2, #phishing-info > h3, #malware-info > h3 {
  font-family: "Bebas Neue";
}

#pm-info-wrapper {
  max-width: 550px;
  margin: auto;
  background-image: linear-gradient(#ff3b3b, #0b1422 75%);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #00ffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#phishing-info, #malware-info {
  padding: 5px 10px;
}

#page2-footer {
  margin-top: 33vh;
}